

body{
    margin:0px;
    padding:0px;
    background-color: #1e1e1e;
    position: relative;
}


.css-icon{ 
    color: #264de4; }
.html-icon{ 
    color: #e44d26; }
.cpp-icon{ 
    color: #00599C; }
.py-icon{ 
    color: #3572A5; }

.projects{
    display:flex;
}

.second-project:hover{
    transform: scale(1.07);
    color: #FF7D29;
    cursor: pointer;
}
.second-project-image{
    width:100%;
    padding:0px;
    border-radius: 8px;
}
.second-project{
    font-family: "Bebas Nue",sans-serif;
    font-size:25px;
    color:#F2F0EF;
    margin-left:72px;
    font-weight: lighter;
    width:500px;
    border: 3px solid #FF7D29;
    border-radius: 10px;
    padding: 5px 10px;

}
.project-image{
    width:100%;
    padding:0px;
    border-radius: 8px;
    
}
.first-project{
    font-family: "Bebas Nue",sans-serif;
    font-size:25px;
    color:#F2F0EF;
    margin-left:72px;
    font-weight: lighter;
    width:500px;
    border: 3px solid #FF7D29;
    border-radius: 10px;
    padding: 5px 10px;

}

.first-project:hover {
    transform: scale(1.07);
    color: #FF7D29;
    cursor: pointer;
}

.content-work-section{
    font-family: "Bebas Nue",sans-serif;
    font-size:25px;
    color:#F2F0EF;
    margin-left:72px;
    font-weight: lighter;
}
.icons-and-content{
    font-family: "Bebas Nue",sans-serif;
    font-size:25px;
    color:#F2F0EF;
    margin-left: 72px;
    margin-bottom:40px;
    margin-top:0px;
    display: flex;
    justify-content: start;
    gap: 80px;
    line-height: 200%;
    font-size: 36px ;
}

.content_languages{
    font-family: "Bebas Nue",sans-serif;
    font-size:25px;
    color:#F2F0EF;
    margin-left: 72px;
    margin-bottom:20px;
    margin-top:50px;
    width: 850px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 200%;
    font-size: 36px ;
}
.languages-section{
    font-family: "Roboto Flex",sans-serif;
    font-size:25px;
    color:#F2F0EF;
    margin-left: 72px;
    margin-bottom:40px;
    margin-top:100px;
    width: 850px;
    font-weight: lighter;
    border-bottom: 2px solid #495057;
}

#seperator{
    font-family: "Roboto Flex",sans-serif;
    font-size:25px;
    color:#F2F0EF;
    margin-left: 72px;
    margin-bottom:0px;
    margin-top:200px;
    width: 850px;
    font-weight: lighter;
    border-bottom: 2px solid #495057;

}

.description{
    font-family: "Roboto Flex",sans-serif;
    font-size:30px;
    color:#F2F0EF;
    margin-left: 72px;
    margin-top :20px;
    font-weight: lighter;
    line-height: 200%;
    width:850px;
    margin-bottom:80px;

}
#navbar ul {
    list-style-type:none;
    background-color: #2a2a2a ;
    padding: 20px;
    margin:0px;
    display: flex;
    justify-content: center;
    gap:40px;
}


#navbar a{
    color: #FF7D29;
    text-decoration: none;
    padding: 8px 19px;   
    font-size: 20px;
    font-family: "Roboto Flex",sans-serif;
}

#navbar a:hover{
    color: #E6521F;
    cursor:pointer;
} 

#home{
    font-family: "Bebas Nue",sans-serif;
    font-size: 60px;
    margin-left:72px;
    text-transform: uppercase;

}
#initial-name{
    color: #FF7D29;
    margin-bottom: 0px;
    margin-top:150px;
    
}
#last-name{
    color: #E6521F;
    margin-top:0px;
    margin-bottom:0px
}

#navbar{
    position:sticky;
    top:0;
}

.intro{
    font-family: "Roboto Flex",sans-serif;
    font-size:25px;
    color:#F2F0EF;
    margin:15px 0px 0px 72px;
    display: Flex;
    width: 600px;
    line-height:200%;
    font-weight: lighter;
} 

#resume-button{
    font-family: "Bebas Nue",sans-serif;
    padding:12px 16px;
    margin:20px 0px 0px 72px;
    font-size:15px;
    background-color: #FF7D29;
    font-weight:900;
    line-height: 175%;
}

#resume-button:hover {
    cursor: pointer;
    background-color: #E6521F;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
